@media screen and (min-width: 1024px) {

    .navigation ul {
        left: 50%;
    }


    .text h2 {
        text-align: center;
    }

   

    
    .text a::after {
        left: 27.5rem;
        width: 15%;
    }


    .gallery-item.one, 
    .gallery-item.two, 
    .gallery-item.three, 
    .gallery-item.four {
        flex: 25%;
    }
    

    footer nav ul {
        justify-content: center;
    }

    footer div ul li a{
        margin: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .navigation img {
        display: none;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
        background: none;
        top: 0;
        /* border: 1px solid red; */
        padding: 0;
        margin: 0;
    }

   

    .navigation ul::after {
        transform: none;
        background: none;
    }

    .navigation ul li a {
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin: 1rem 0;
    }

    .navigation ul li a:hover {
        color: var(--white);
        background: var(--grayish-blue);
    }

    .navigation ul li.last a {
       background-color: white;
       color: black;
       
    }

    .text h2 {
        text-align: left;
    }

    .text a {
        margin: 2rem 0;
    }

    .desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "column1 column2"
                             "column3 column4"
                             "column5 column6";
    }

    .text a::after {
        left: 0;
        width: 30%;
    }

   .desktop .image-text div{
       margin: 0 6rem;
   }

    .desktop .first {
       grid-area: column2;
    }
    
    .desktop .text{
        align-self: center;
        margin: 0 8rem;
    }

    .desktop .text p{
        text-align: left;
    }

    .desktop .text a {
        text-align: left;
        /* padding-left: 3.2rem; */
    }

    .desktop .text h2 {
        border: 1px solid white;  
    }

    .testimonials .display-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .testimonials h2 {
        font-size: .9rem;
    }

    .testimonials p, .testimonials h3, .testimonials span {
        font-size: 1rem;
    }
}